.card-image{
    position: relative;
}

.facility .card-image-light{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: .3s all;
 
}

.facility .card-image-light:hover{
    background-color: #a58001;
}

.facility .card-image-content{
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}