.facility{
    padding: 25px 0 0;
    border-top: 1px solid #ccc;
    background: url('../../../assets/images/bg_facility.jpg') top center no-repeat;
}

.facility .title{
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0 30px;
    text-align: center;
    position: relative;
}
.facility .title::after{
    content: "";
    position: absolute;
    bottom: -25px;
    width: 70px;
    height: 4px;
    background: #000;
    display: block;
    margin: 0 auto;
    position: relative;
}

.facility .content{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
