.footer-up{
    padding: 85px 0 80px;
    background: #000;    
    
}
.footer-up-wrapper{
    width: 80%;
    margin: 0 auto;
}
.footer-up-left-logo img{
    max-width: 350px;
    height: 80px;
}

.footer-up-left-address{
    color: #fff;
    margin: 10px 0;
}
.footer-up-right-wrapper {
    display: flex;
    align-items: center;
}
.footer-up-right-wrapper i {
    font-size: 14px;
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: #999999;
    line-height: 18px;
    text-align: center;
    transition: .3s all;
}

.footer-up-right-wrapper a{
    color: #fff;
    text-transform:capitalize;
    margin-left: 8px;
    text-decoration: none;
    font-size: 14px;
}

.footer-up-right-wrapper:hover i{
    opacity: .8;
}

.footer-down{
    color: #fff;
    padding: 50px 0;
    display: block;
    text-align: center;
    border-top: 1px solid #595959;
    font-size: 14px;
    
    background: #000; 
}